<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="FlexBox" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>


</ActionBar>


<FlexboxLayout flexDirection="row"> 
  <Label text="First Item" backgroundColor="red" width="20%"></Label> 
  <Label text="Second Item" backgroundColor="green" width="20%"></Label> 
  <Label text="Third Item" backgroundColor="red" width="20%"></Label> 
  <Label text="Fourth Item" backgroundColor="green" width="20%"></Label> 
  <Label text="Fifth Item" backgroundColor="red" width="21%"></Label> 
  
</FlexboxLayout>