<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Featured" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<ScrollView>
  <StackLayout>

      <ListPicker [items]="listPickerCountries"></ListPicker>
     <Button text="Display Alert Dialog" (tap)="displayAlertDialog()" class="btn btn-primary btn-active" ></Button>
     
     <Button class="-primary p-8">
      <FormattedString>
          <Span text="&#xf007;" class="fas t-18"></Span>
          <Span text=" Different " color="red"></Span>
          <Span text="colors in "></Span>
          <Span text=" Button " backgroundColor="green" color="whitesmoke"></Span>
      </FormattedString>
  </Button>
  <Button text="Confirm Dialog" (tap)="confirmDialog()"></Button>
  

  </StackLayout>
</ScrollView>