<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Browse" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<!-- <Image src="G:\ITS\NativeScript\APP\sampleApp\src\app\images\Logo.jpg" stretch="aspectFit"></Image> -->
<!-- <Image src="res://Logo.jpg" stretch="none" ></Image>  -->

<GridLayout sdkExampleTitle sdkToggleNavButton>
  <!-- >> tab-view-styling-ng-html -->
  <TabView selectedTabTextColor="white" 
     tabBackgroundColor="orangered"
     tabTextFontSize="16"
     androidSelectedTabHighlightColor="green">
      <StackLayout class="tabText" *tabItem="{title: 'First Tab', iconSource: 'res://icon', textTransform: 'uppercase'}" >
          <Label text="First Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
      </StackLayout>
      <StackLayout class="tabText" *tabItem="{title: 'Second Tab', iconSource: 'res://icon', textTransform: 'uppercase'}">
          <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
      </StackLayout>
  </TabView>
  
  <!-- << tab-view-styling-ng-html -->
</GridLayout>




