<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>


<GridLayout class="tabStack">
	<!-- >> basic-tab-view-html -->
	<TabView selectedIndex="0" (selectedIndexChanged)="onSelectedIndexchanged($event)" 
          selectedTabTextColor="Red" 
          tabBackgroundColor="#00AAFF"
          androidSelectedTabHighlightColor="Yellow">
		<StackLayout *tabItem="{title: 'First Tab', iconSource: 'res://icon'}">
			<StackLayout>
				<Label text="First Page" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
			</StackLayout>
		</StackLayout>
		<StackLayout *tabItem="{title: 'Second Tab', iconSource: 'res://icon'}">
			<StackLayout>
				<Label text="Second Page" textWrap="true" class="m-15 h2 text-left" color="Green"></Label>
			</StackLayout>
		</StackLayout>
    <StackLayout *tabItem="{title: 'Third Tab' , iconSource: 'res://icon'}">
    <StackLayout>
      <Label text="Third Page" textWrap="true" class="m-15 h2 text-left" color="Red"></Label>
      
    </StackLayout>
    </StackLayout>
	</TabView>
	<!-- << basic-tab-view-html -->
</GridLayout>

